version: '3.7'
services:
  learning_challenge:
    build: ./services
    restart: always
    volumes:
     - .:/services/code
    depends_on:
     - rabbitmq
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    ports:
        - 5672:5672
        - 15672:15672
